/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
// CSS Reset
// @import "base/colors.scss";
// @import "base/fonts.scss";
// @import "base/reset.scss";

// base styles
$font-stack: Verdana, sans-serif;

body {
  font-family: $font-stack;
}

// Components
@import './listings.scss';

html header h1.main-logo{
    color: white;
    // color: #FFFFFF;
    text-decoration: none;
}

h1#main-logo{
    text-decoration: none;
}

//search bar and navbar
// @@@@@@@@@@@@@@@@@@@@@@search bar and navbar@@@@@@@@@@@@@@@@@@@@@@@@
.search-bar{
    display: flex;
    align-items: center;
}

.main-search-bar{
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 300px;
    margin-left: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1), 0 2px 6px rgba(26, 26, 29, 0.08);
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px;

}

.main-navbar{
    display: flex;
    justify-content: space-between;
    background: #009900;
    border-radius: 3px;
    padding: 5px;
    top: 0px;
    position: sticky;
}

.login-signup{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.signin-stuff{
    margin: 5px;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
.signin-stuff-logout{
    color: white;
    width: inherit;
    height: inherit;
}
.signin-stuff-logout:hover{
    color: #009900;
}

.signin-stuff:hover{
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    background: white;
    color: #009900;
}

.gray-bar{
    width: 100%;
    height: 1px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 30px;
}

footer{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    position: sticky;
    bottom: 10px;
    z-index: -1;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

//@@@@@@@@@@@@@@@@@@@@@ MAIN PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@

.home-title{
    font-size: 40px;
    text-align: center;
    color: #009900;
    border: 1px solid #009900;
    width: 65vw;
    padding: 20px 0px;
    border-radius: 5px;
    background: whitesmoke;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.mini-titles{
    font-size: 25px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.map-and-info{
    width: 100vw;
	height: 100vh;
    // margin-left: 17%;
}

.our-description{
    margin-left: 17.4%;
    margin-right: 200px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    padding-top: 440px;
}

.main-description{
    display: flex;
    // width: 1248px;
    flex-wrap: wrap;
}

.description-content{
	width: 58.5vh;
    font-size: 22px;
    justify-content: center;
    border: 1px solid lightgreen;
    padding: 20px;
    background: #009900;
    color: white;
    margin-top: 20px;
}

.for-left{
    // margin-left: 20px;
}
.for-right{
    margin-right: 20px;
}

//@@@@@@@@@@@@@@@@@@@@@@@@@--MODAL--@@@@@@@@@@@@@@@@@@@@@@@@@@@

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}


.modal-child {
  display: block;
//   border: 2px, solid red;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form{
    width: 300px;
    margin-top: -22px;
    // height: 400px;
}
.log-form{
    width: 300px;
    margin-top: 15px;
    // height: 300px;

}

.signup-continue{
    margin-left: 30px;
    margin-top: 0px;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.close-modal-x{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    border-radius: 50%;
    border: 1px solid white;
    text-align: center;
    width: 20px;
    height: 20px;
}

.login-form-container{
    border: 2px solid #009900;
    background: white;

}

input#text-box {
    width: 200px;
    height: 18px;
    border-radius: 3px;
    align-self: center;
    border: 1px solid lightgray;
    font-size: 16px;
    font-weight: 100;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
}

#session-submit {
    width: 224px;
    margin-left: 30px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

.demo-button{
    width: 224px;
    margin-left: 30px;
    padding: 10px 0px;
    margin-bottom: 10px;
}

#session-submit:hover{
    cursor: pointer;
    opacity: .7;
}

.change-forms{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin-left: 26px;
    margin-bottom: 20px
}

.listing-form-title{
    padding-left: 30px;
    color: white;
    text-decoration: underline;
}
.listing-form{
    // margin-left: 30px;
    text-align: center;
    border: 2px solid #009900;
    margin: 0px 300px;
    padding-right: 220px;
    margin-right: 296px;
    margin-top: 20px;
    padding-bottom: 10px;
    background: #009900
}
.attribute-titles{
    padding-left: 30px;
    color: white;
    text-decoration: underline;
    padding-bottom: 5px;
}

input.photo-submit-button{
    width: 222px;
    margin-left: 30px;
    // padding: 20px;
    font-size: 80px;
}

.main-title-new{
    text-align: center;
    // text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-shadow: 4px 4px rgba(0, 0, 0, 0.9);
}

.entire-listing-form{
    margin: 0px 500px;
    padding: 10px;
    color: white;
}

#root{
    background: url('https://img.sunset02.com/sites/default/files/styles/4_3_horizontal_inbody_900x506/public/image/2016/12/main/driveway-trees-jason-liske-0117.jpg') no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    
    background-size: cover;
}



// @@@@@@@@@@@@@@@@@@@@@@@@ SHOW PAGE @@@@@@@@@@@@@@@@@@@

.show-info{
    background: rgba(167, 201, 160, 0.4);
    width: 40%;
    margin-left: 40px;
    color: white;
    text-shadow:
	    -1px -1px 0 #000,
	    1px -1px 0 #000,
	    -1px 1px 0 #000,
        1px 1px 0 #000;
    h2{
        text-align: center;
        margin-bottom: 10px;
        color: rgb(200, 218, 9);
    }

    .show-listing-flex{
        display: flex;

        .parking-info{
            font-size: 20px;
            margin-left: 5%;
            .promotion{
                margin: 5% 0px;
            
                .fine-print{
                    font-size: 10px;
                }
            }
        }
    }

    
}