/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
* vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
* files in this directory. Styles in this file should be added after the last require_* statement.
* It is generally better to create a new file per style scope.
*
*= require_self
*/
// CSS Reset
// @import "base/colors.scss";
// @import "base/fonts.scss";
// @import "base/reset.scss";
@import './listings.scss';
@import url('//fonts.googleapis.com/css?family=Pacifico&text=Pure');
@import url('//fonts.googleapis.com/css?family=Roboto:700&text=css');
@import url('//fonts.googleapis.com/css?family=Kaushan+Script&text=!');

//////////////-CSS Reset-////////////////

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

//////////////////////////////////////////////

// base styles
$font-stack: Verdana, sans-serif;

body {
  font-family: $font-stack;
}

// Components

html header h1.main-logo{
    color: white;
    // color: #FFFFFF;
    text-decoration: none;
}


.parclogo{
    width: 100px;
    height: 100px;
    border: 1px solid black;
}
.logoimg{
    width: 100px;
    height: 100px;
}

//search bar and navbar
// @@@@@@@@@@@@@@@@@@@@@@search bar and navbar@@@@@@@@@@@@@@@@@@@@@@@@
.main-navbar{
    display: flex;
    justify-content: space-between;
    height: 55px;
    background: rgb(52, 114, 222);
    padding: 5px;
    top: 0px;
    position: sticky;
}
h1#main-logo{
    text-decoration: none;
    background: url('/assets/parc-logo.png') center no-repeat;
    background-size: contain;
    height: 55px;
    width: 100px;
    margin: 0px;
    padding: 0px;
    padding-left: 20px;
}


.login-signup{
    display: flex;
    align-items: center;
    padding-top: 5px;
}

.signin-stuff{
    margin: 5px;
    margin-bottom: 10px;
    color: white;
    padding: 10px;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none !important ;
}

.vertical-divider{
    margin-top: -10px;
    font-size: 30px;
    color: white;
}
.signin-stuff-logout{
    color: white;
    width: inherit;
    height: inherit;
}

.signin-stuff-logout:hover{
    color: rgb(52, 114, 222);
}

.signin-stuff:hover{
    background: white;
    color: rgb(52, 114, 222);
}

.gray-bar{
    width: 100%;
    height: 1px;
    border-bottom: 2px solid lightgray;
    margin-bottom: 30px;
}

//@@@@@@@@@@@@@@@@@@@@@ MAIN PAGE @@@@@@@@@@@@@@@@@@@@@@@@@@

// font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
#dropdown:hover{
    .dropdown-items{
        display: block;
    }
}

#dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-items{
    display: none;
    position: absolute;
}

.main-content{
    margin-bottom: 40px;
}

.search-container{
    height: 100%;
    width: 100%;
    background: url('/assets/main-page-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 72px;
    font-weight: 800;
    width: 100%;
    text-align: center;
    color: white;

    h4{
        font-size: 24px;
        color: white;
        font-family: Georgia,Times,Times New Roman,serif;
        letter-spacing: 1.5px;

    }
}

.search-margin{
    width: 60%;
    margin: auto;

}

.search-title{
    margin-top: 5%;
    margin-bottom: 20px;
    text-shadow: -1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
}

.search-bar{
    width: 80%;
    margin: auto;
    margin-bottom: 80px;
}

.main-search-bar{
    box-sizing: border-box;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    font-size: 16px;
}

.section-title{
    font-size: 50px;
    text-align: center;
    padding-top: 40px;
    font-family: Freight, HoeflerText-Black, Times New Roman, serif;
    margin-bottom: 40px;
    color: gray
}

.center-col{
    width: 70%;
    margin: auto;
}

.section-container{
    display: flex;
    margin-bottom: 5%;
}

.discovery{
    width: 60%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

.discover-text{
    font-size: 32px;
    padding-top: 8%;
    font-weight: 600;
    line-height: 1.5;
    h3{
        color: rgb(52, 114, 222);
    }
    h4{
        padding-left: 30px;
        color: rgb(3, 50, 129);
    }
    p{
        text-align: center;
        padding-top: 15%;
        font-size: 14px;
        padding-right: 10%;
    }
}

.team-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}

.image-div{
    width: 100%;
}
.team-photo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.team-text{
    // display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 1.5;
    margin-right: 5%;
    h3{
        color: rgb(52, 114, 222);
    }
    h4{
        padding-left: 30px;
        color: rgb(3, 50, 129);
    }
    p{
        text-align: center;
        padding-top: 10%;
        font-size: 14px;
    }
}

.bottom-container{
    display: flex;
    justify-content: space-around;
}

.image-containers{
    margin-left: 5%;
}

.image1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/assets/main-page-bg.jpg");
    width: 600px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h4{
        color: white;
        font-size: 48px;
        text-align: center;
        margin-bottom: 20%;
        padding-top: 20%;
        font-family: Freight, HoeflerText-Black, Times New Roman, serif;
        line-height: 1.5;
    }
}

.started-button{
    top: 70%;
    right: 35%;
    width: 200px;
    height: 50px;
    background-color: rgb(52, 114, 222);
    font-weight: 500;
    font-size: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.image2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('/assets/image2.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 600px;
    height: 500px;
    h4{
        color: white;
        font-size: 48px;
        text-align: center;
        margin-bottom: 35%;
        padding-top: 20%;
        font-family: Freight, HoeflerText-Black, Times New Roman, serif;
        line-height: 1.5;
    }
}

footer {
  background: rgb(52, 114, 222);
  height: 100px;
  padding: 1.25em 0;
  text-align: center;
  width: 100%;
}

.footer-container {
    display: block;
    align-items: center;
    h2{
        color: white;
        font-size: 32px;
        padding-top: 10px;
        padding-left: 10px;
        margin-bottom: 10px;
    }
    a#portfolio-names{
        margin-bottom: 10px;
        padding: 10px;
        text-decoration: none;
        margin-right: 5px;
        border: 1px solid rgb(52, 114, 222);
    }
    a#main-icon{
        // margin-bottom: 10px;
        padding: 10px;
        padding-top: 15px;
        padding-bottom: 10px;
        text-decoration: none;
        margin-right: 5px;
        border: 1px solid rgb(52, 114, 222);
    }
    a#portfolio-names:hover{
        background: white;
        color: rgb(52, 114, 222);
        border-radius: 5px;
    }
    a#main-icon:hover{
        background: rgb(52, 114, 222);
        border: 1px solid white;
        cursor: pointer;
    }
}

.fa-github{
    font-size: 30px;
    color: white;
}

.link-tags{
    color: white;
}

//@@@@@@@@@@@@@@@@@@@@@@@@@--MODAL--@@@@@@@@@@@@@@@@@@@@@@@@@@@
.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.signup-form{
    width: 300px;
    margin-top: -22px;
}
.log-form{
    width: 300px;
    margin-top: 15px;
}

.signup-continue{
    margin-left: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 700;
    color: rgb(52, 114, 222);
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
}

.close-modal-x{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    border-radius: 50%;
    border: 1px solid rgb(52, 114, 222);
    margin-left: -20px;
    margin-top: -5px;
    padding: 11px;
    padding-top: 3px;
    padding-left: 7px;
    padding-right: 7px;
    text-align: center;
    width: 10px;
    height: 10px;
    background: rgb(52, 114, 222);
    color: white;
}
.close-modal-x:hover{
    cursor: pointer;
}

.switch-form{
    background-color: rgb(52, 114, 222);
    font-size: 14px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    color: white;
    margin-left: 118px;
}

.switch-form:hover{
    opacity: .7;
    cursor: pointer;
}

.login-form-container{
    border: 1px solid black;
    background: white;
    border-radius: 6%;
    padding: 20px;
    padding-left: 35px;

}

input#text-box {
    width: 200px;
    height: 18px;
    border-radius: 3px;
    align-self: center;
    border: 1px solid lightgray;
    font-size: 16px;
    font-weight: 100;
    padding: 15px;
    margin-bottom: 10px;
    margin-left: 30px;
}

input#text-box:focus{
    border-color: rgb(52, 114, 222);
}

#session-submit {
    width: 233px;
    margin-left: 30px;
    padding: 15px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    background-color: rgb(52, 114, 222);
}

.change-buttons{
    background-color: rgb(52, 114, 222);
}

.demo-button{
    width: 233px;
    margin-left: 30px;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 14px;
    color: white;
    border-radius: 5px;
    background-color: rgb(52, 114, 222);
}

.demo-button:hover{
    cursor: pointer;
    opacity: .7;
}
#session-submit:hover{
    cursor: pointer;
    opacity: .7;
}

.change-forms{
    font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
    margin-left: 30px;
    margin-top: 10px;
    font-size: 20px;
    margin-bottom: 5px;
}


//@@@@@@@@@@@@@@@@@@@@@@@@--Booking-Index--@@@@@@@@@@@@@@@@@@@@@@@

.booking-index{
  background-image: linear-gradient(rgb(10, 0, 19), #fff);
  height: 100vh;
}

#booking-main-img{
    width: 100%;
    height: 40vh;
    background-image: url('/assets/bookingHeaderImg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -5;
}

.booking-title {
  color: white;
  display: flex;
  justify-content: center;
  padding-top: 5%;

  p {
    color: dodgerblue;
    font: 80px 'Pacifico', 'Kaushan Script', Futura, 'Roboto', 'Trebuchet MS', Helvetica, sans-serif;
    text-decoration: underline;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px  1px 0 white, 1px  1px 0 white;
  }
}

.actual-title{
  color: rgb(52, 114, 222);
  font-size: 48px;
  padding-top: 130px;
  text-align: center;
}

.count-info{
  background: white;
  border-radius: 3px;
  margin: 0 auto;
  margin-top: -8%;
  padding: 1.5% 2.5% 3%;
  width: 60%;
  z-index: 6;
}

//@@@@@@@@@@@@@@@@@@@@@@@@--Booking-Index-Item--@@@@@@@@@@@@@@@@@@@@@@@

.booking-index-item{
    width: 100%;
    padding: 10px;
    margin-left: 9px;
    margin-right: 9px;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif;
    font-size: 12px;
    color: white;
}

.booking-photo{
    width: 250px;
    height: 250px;
}
.each-booking{
    color: white;
}

.flexing-booking{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.booking-index-info{
    display: flex;
    justify-content: space-evenly;
    width: 86%;
    border: 1px solid rgb(52, 114, 222);
    border-top: 0px;
    padding: 14px 0px;
    background: rgb(52, 114, 222);
}

.capitalizing{
    text-transform: capitalize;
}

.flexing{
    display: flex;
    width: 110%;
    justify-content: space-between;
}

.left-info{
    margin-left: -5px;
    font-style: italic;
    font-size: 14px;
}
.right-info{
    margin-right: 5px;
}

.uppercasing{
    text-transform: uppercase;
}

.delete-booking{
    width: 43.5%;
    padding: 3px 10px;
    color:rgb(52, 114, 222);
    border-radius: 5px;
    font-size: 14px;
    margin-top: -10px;
    background-color: white;
}

.delete-booking:hover {
  background: rgb(52, 114, 222);
  color: white;
  cursor: pointer;
}

//@@@@@@@@@@@@@@@@@@@@@@@@@--new-listing--@@@@@@@@@@@@@@@@@@@@@@@@@@@

.main-title-new {
  color: white;
  font-size: 36px;
  font-weight: 800;
  margin: 10px 10px;
  padding: 10px;
  padding-left: 0;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
}

.main-description-new {
  color: #ccc;
  font-size: 16px;
  font-style: italic;
  margin-left: 10px;
}

div.flexing-text-box {
  display: flex;
  margin: 5%;
  margin-left: 0px;
  margin-right: 10%;
}

#new-description {
  border: 1px solid lightgray;
  border-radius: 3%;
  padding-bottom: 11%;
  width: 192%;
}

.listing-form-title {
  color: white;
  font-size: 20px;
  font-weight: 800;
  text-shadow: 1px 2px rgba(0, 0, 0, 0.5);
  width: 300px;
}

.listing-form {
  margin-top: 20px;
  width: 40%;
}

.attribute-titles {
  color: white;
  font-size: 12px;
  margin-left: -10px;
  margin-right: 25px;
  padding-bottom: 5px;
}

input.photo-submit-button{
    padding-top: 5px;
    font-size: 18px;
    width: 200px;
}

div input#picture-upload{
    width: 160px;
}

div input#picture-upload:hover{
    cursor: pointer;
}

input#new-text-box{
    margin-right: 13%;
    padding: 4.5%;
    padding-left: 2%;
    padding-right: 11%;
}

.background-gif {
  background-image: url('/assets/newlistingBackground.gif');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.entire-listing-form {
  background-color: rgba(52, 114, 222, .9);
  height: 60%;
  padding: 10px;
  margin-left: 30%;
  margin-top: 8%;
  width: 30%;
}

.photo-preview{
    max-height: 350px;
    max-width: 350px;
    border-radius: 3px;
    margin-bottom: 10px;
}

input.new-submit {
  background-color: rgb(52, 114, 222);
  border-radius: 5px;
  color: white;
  font-size: 14px;
  margin-top: -10px;
  padding: 10px;
  width: 90%;
}

input.new-submit:hover {
  cursor: pointer;
  opacity: .7;
}

#root {
  background-size: cover;
  z-index: -1;
}

// @@@@@@@@@@@@@@@@@@@@@@@@ SHOW PAGE @@@@@@@@@@@@@@@@@@@
.listing-show {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.left-info-container {
  background: linear-gradient( white, rgba(52, 114, 222, .75));
  height: 100%;
}

.show-image-container {
  margin: auto;
  width: 100%;
}

.address-info {
  font-size: 25px;
  text-transform: capitalize;
}

.also {
  font-size: 20px;
  font-style: none;
}

.address-info2 {
  font-size: 20px;
  text-transform: uppercase;
}

.parking-images {
  height: 57%;
  width: 100%;
}

.graybar {
  border-bottom: 3px solid rgba(52, 114, 222, 1.0);
  border-radius: 50%;
  height: 1px;
  margin: 3% 0px;
  width: 100%;
}

.show-info {
  border-radius: 2px;
  height: 38.1%;
  margin-right: auto;
  margin-top: -5px;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
  width: 96%;
}

.show-listing-flex{
  display: flex;
  height: 100%;
  margin-bottom: 2%;
}

.gif-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gif-title {
  color: white;
  font-family: 'Rancho', cursive;
  font-size: 25px;
  padding-left: 5px;
}

.showpage-gif {
  background-image: url('/assets/showpage.gif');
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
}

.info-headings {
  font-size: 18px;

  p {
    font-size: 14px;
    margin-left: 5%;
    text-decoration: none;
  }
}

.parking-info {
  color: white;
  font-size: 30px;
  margin-right: 10px;
  min-width: 50%;
  width: 50%;
}

.booking-form-container {
  display: flex;
  justify-content: center;
  margin: auto;
  text-align: center;
}


.booking-form {
  color: white;

  .form-booking{
      display: flex;
      width: 100%;
      justify-content: flex-start;
  }

  h2 {
    border-bottom: 1px solid white;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-bottom: 2%;
  }

  .booking-button {
    margin-left: 5px;
    padding: 9.2px;
    padding-right: 25px;
    padding-left: 25px;
    text-align: center;
  }

  .booking-button {
    &:hover {
      cursor: pointer;
      opacity: .7;
    }
  }
}

.map-container {
  height: 100%;
}

.DateRangePickerInput__showClearDates {
  padding-right: 15px;
}

.DateInput {
  #end-date-field {
    border-left: 1px solid lightgray;
  }
}

.map-marker {
  color: #f00;
}

.marker-text {
  background-color: white;
  border: 1px solid red;
  color: black;
  padding: .7em;
}

.marker-pin {
  cursor: pointer;
  width: 22px;
}

/* ---------------------------------------------
// MEDIA QUERIES && RESPONSIVENESS
--------------------------------------------- */
@media screen and ( max-width: 1440px ) {
  .count-info {
    padding-bottom: 10%;
  }
}

@media screen and ( max-width: 1024px ) {
  .left-info-container { width: 50%; }
  .map-container { width: 50%; }

  .address-info { font-size: 22px; }

  #booking-main-img {
    .booking-title {
      p {
        font-size: 64px;
      }
    }
  }
}

@media screen and ( max-width: 960px ) {
  #booking-main-img {
    height: 20%;
  }
}
